body {
    margin: 0;
    padding: 0;
    background-image: url("stars2.jpg"), linear-gradient(to right, #07131E, #07131E);
    background-size: 70% 70%;
    animation: slide 7s linear infinite;
    font-family: Consolas, monaco, monospace;
}

.back {
    margin-left: -10px;
    margin-top: -50px;
}

.back-btn {
    border: solid 1px white;
    background: transparent;
    color: white;
    border-radius: 20px;
    cursor: pointer;
}


.time {
    color: #c94646;
    letter-spacing: 10px;
    text-align: right;
    font-size: 30px;
    margin-top: -700px;
    margin-right: 40px;
}

@keyframes slide {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -3000px;
    }
}

.box {
    background-color: #c94646;
    color: #fff;
    border-radius: 5px;
    padding: 0px;
    margin: 20px 0 20px 0;
    font-size: 150%;
}

.wrapper {
    width: 400px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    background-color: transparent;
    color: white;
    margin-left: auto;
    margin-right: auto;
}

.section1 {
    grid-row: 3 / 4;
}

.section2 {
    grid-row: 5 / 6;
}

.section3 {
    grid-row: 7 / 8;
}

.ad1 {
    grid-row: 2 / 3;
}

.ad2 {
    grid-row: 4 / 5;
}

.ad3 {
    grid-row: 6 / 7;
}

.web-title {
    color: #c94646;
    margin-left: 740px;
    margin-top: 100px;
}

#main {
    padding: 20px;
}

.foot-main {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: transparent;
    margin-left: -10px;
    color: #b9b9b9;
}

.foot-title {
    margin-left: 5px;
    color: #c94646;
}

.foot-undertext {
    margin-left: 5px;
}

input[type="email"] {
    border: 0;
    padding: 7px;
    border-radius: 10px;
}

input[type="submit"] {
    background: transparent;
    color: #b9b9b9;
    cursor: pointer;
    border: 0;
    padding: 7px;
    border: 1px solid #c94646;
    border-radius: 10px;
}

@keyframes star {
    from {
        left: -100px;
    }

    to {
        left: calc(100% + 100px);
    }
}


.s {
    width: 2px;
    height: 2px;
    animation-iteration-count: infinite;
    background-color: white;
    border-radius: 10000px;
    position: fixed;
    animation-name: star;
    animation-timing-function: linear;
}

.s::before {
    width: 150px;
    right: 2px;
    top: 0;
    position: absolute;
    content: "  ";
    height: 2px;
    background: linear-gradient(to right, rgba(236, 171, 171, 0) 0%, rgba(255, 153, 153, 0.4) 100%);
}

.s1 {
    animation-duration: 10s;
    top: 100px;
}

.s2 {
    animation-duration: 15s;
    top: 400px;
}

.s3 {
    animation-duration: 25s;
    top: 800px;
}

@media only screen and (max-width: 600px) {
    .content {
        font-size: small;
    }

    .wrapper {
        width: 280px;
        margin-left: 0px;
    }

    .web-title {
        margin-left: 0px;
    }

    .foot-main {
        background-color: #353535;
        margin-left: -20px;
    }

    footer {
        position: relative;
        margin-top: 700px;
        bottom: 0;
    }

    .time {
        margin-top: -680px;
        text-align: left;
        margin-left: 0px;
    }

    .back-btn {
        margin-left: 0px;
    }
}

@media only screen and (max-width: 1100px) and (min-width: 700px) {
    .content {
        font-size: small;
    }

    .wrapper {
        width: 280px;
        margin-left: auto;
        margin-right: auto;
    }

    .web-title {
        margin-left: 225px;
    }

    .foot-main {
        background-color: #353535;
        margin-left: -20px;
    }

    footer {
        position: relative;
        margin-top: 700px;
        bottom: 0;
    }

    .time {
        margin-top: -680px;
        text-align: right;
        margin-left: 0px;
    }

    .back-btn {
        margin-left: 0px;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1024px) {
    .web-title {
        margin-left: 350px;
    }
}