body {
    margin: 0;
    padding: 0;
    background-image: url("stars2.jpg"), linear-gradient(to right, #07131E, #07131E);
    background-size: 70% 70%;
    animation: slide 7s linear infinite;
    font-family: Orbitron;
}

.back {
    margin-left: -10px;
    margin-top: -50px;
}

.back-btn {
    border: solid 1px white;
    background: transparent;
    color: white;
    border-radius: 20px;
    cursor: pointer;
}


.time {
    color: rgba(172, 153, 255, 0.4);
    letter-spacing: 10px;
    text-align: right;
    font-size: 30px;
    margin-top: -700px;
    margin-right: 40px;
}

@keyframes slide {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -3000px;
    }
}

.box {
    background-color: rgba(172, 153, 255, 0.4);
    color: #fff;
    border-radius: 5px;
    padding: 0px;
    margin: 20px 0 20px 0;
    font-size: 150%;
  }
  
  .wrapper {
    width: 400px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    background-color: transparent;
    color: white;
    margin-left: auto;
    margin-right: auto;
  }
  
  .section1 {
    grid-row: 3 / 4;
  }
  
  .section2 {
    grid-row: 5 / 6;
  }

  .section3 {
    grid-row: 7 / 8;
  }
  
  .ad1 {
    grid-row: 2 / 3;
  }
  
  .ad2 {
    grid-row: 4 / 5;
  }

  .ad3 {
      grid-row: 6 / 7;
  }

.web-title {
    margin-left: 740px;
    margin-top: 200px;
    color: #b9b9b9;
}

#main {
    padding: 20px;
}

.foot-main {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: transparent;
    margin-left: -20px;
    color: #b9b9b9;
}

.foot-title {
    margin-left: 5px;
}

.foot-undertext {
    margin-left: 5px;
}

input[type="email"] {
    border: 0;
    padding: 7px;
    border-radius: 10px;
}

input[type="submit"] {
    background: transparent;
    color: #b9b9b9;
    cursor: pointer;
    border: 0;
    padding: 7px;
    border: 1px solid #b9b9b9;
    border-radius: 10px;
}






@keyframes star {
    from {
        left: -100px;
    }

    to {
        left: calc(100% + 100px);
    }
}


.s {
    width: 2px;
    height: 2px;
    animation-iteration-count: infinite;
    background-color: white;
    border-radius: 10000px;
    position: fixed;
    animation-name: star;
    animation-timing-function: linear;
}

.s::before {
    width: 150px;
    right: 2px;
    top: 0;
    position: absolute;
    content: "  ";
    height: 2px;
    background: linear-gradient(to right, rgba(172, 171, 236, 0) 0%, rgba(172, 153, 255, 0.4) 100%);
}

.s1 {
    animation-duration: 10s;
    top: 100px;
}

.s2 {
    animation-duration: 15s;
    top: 400px;
}

.s3 {
    animation-duration: 25s;
    top: 800px;
}