body {
    margin: 0;
    padding: 0;
    background-image: url("stars2.jpg"), linear-gradient(to right, #07131E, #07131E);
    background-size: 70% 70%;
    animation: slide 7s linear infinite;
    font-family: Consolas, monaco, monospace;
}

.time {
    color: #c94646;
    font-family: Orbitron;
    letter-spacing: 10px;
    text-align: right;
    font-size: 30px;
    margin-top: -330px;
    margin-right: 40px;
}

@keyframes slide {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -3000px;
    }
}

.web-title {
    margin-left: 220px;
    margin-top: 220px;
    color: #c94646;
}

.web-description {
    color: #cc5e5e;
    margin-left: 220px;
}

.wrapper {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-gap: 20px;
    margin-left: 220px;
    color: #b9b9b9;
}

.sidenav2 {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.5s;
    z-index: 1;
    overflow-x: hidden;
    background: transparent;
    border-right: 1px solid #b9b9b9;
}

.sidenav2 a {
    margin: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 20px;
    color: #b9b9b9;
    display: block;
    transition: 0.5s;
}

.side-text {
    color: #c94646;
}

.sidenav2 .closebtn {
    margin-left: 170px;
    font-size: 30px;
}

.open-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.nav-btn {
    margin-top: -610px;
}

.open-btn img {
    width: 25px;
    height: 25px;
}

#main {
    transition: margin-left .5s;
    padding: 20px;
}

.container {
    margin-left: 20px;
    color: #b9b9b9;
}

.container a {
    font-size: medium;
    margin-top: 15px;
}

.foot-main {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: transparent;
    margin-left: -10px;
    color: #b9b9b9;
}

.foot-title {
    margin-left: 5px;
}

.foot-undertext {
    margin-left: 5px;
}

input[type="email"] {
    border: 0;
    padding: 7px;
    border-radius: 10px;
}

input[type="submit"] {
    background: transparent;
    color: #b9b9b9;
    cursor: pointer;
    border: 0;
    padding: 7px;
    border: 1px solid #b9b9b9;
    border-radius: 10px;
}

.life-page {
    position: fixed;
    height: 0;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    background-image: url("stars2.jpg"), linear-gradient(to right, #07131E, #07131E);
    background-size: 50% 50%;
    animation: slide 20s linear infinite;
    overflow-y: hidden;
    transition: 0.5s;
    border-bottom: 1px solid #b9b9b9;
}

.page-content { 
    position: relative;
    top: 10%;
    width: 100%;
    text-align: center;
    color: #b9b9b9;
}

.life-page .closelife {
    font-size: 50px;
    color: #b9b9b9;
    text-decoration: none;
}

.container2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 14px;
    justify-items: stretch;
    align-items: start;
 } 
 
.early{
    background: transparent;
    color: white;
    border: none;
}

.today{
    background: transparent;
    color: white;
    border: none;
}

.future{
    background: transparent;
    color: white;
    border: none;
}

.early:hover{
    background: rgb(46, 17, 17);
    color: white;
    border: none;
}

.today:hover{
    background: rgb(46, 17, 17);
    color: white;
    border: none;
}

.future:hover{
    background: rgb(46, 17, 17);
    color: white;
    border: none;
}

.text {
    margin-top: 20px;
}

.life-btn {
    color: #b9b9b9;
    padding: 15px 32px; 
    border: 1px solid white;
    border-radius: 15px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    background: transparent;
    margin-top: 250px;
    margin-left: 1400px;
    box-shadow: 0 9px #999;
}

.life-btn:hover {background-color: #c94646}

.life-btn:active {
    background-color: #c94646;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}


@media only screen and (max-width: 600px) {
    body {
        background-size: 80% 80%;
        font-size: small;
    }

    .web-title {
        display: flex;
        flex-direction: column;
        margin-left: 0px;
    }

    .web-description {
        display: flex;
        margin-left: 0px;
    }

    .wrapper {
        display: flex;
        margin-left: 0px;

    }

    .life-btn {
        display: flex;
        flex-direction: column;
        margin-left: 0px;
        margin-top: 600px;
    }


    .time {
        text-align: left;
        margin-top: -720px;
        font-size: medium;
    }

    .nav-btn {
        margin-top: -620px;
    }

    .sidenav2 {
        background-color: #353535;
    }


    footer {
        position: relative;
        margin-top: 700px;
        bottom: 0;
    }

    .foot-main {
        background-color: #353535;
        background-size: 400% 400%;
        animation: gradient 30s ease infinite;
        margin-left: -20px;
    }
}


@media only screen and (max-width: 1100px) and (min-width: 700px) {
    .life-btn {
        display: flex;
        flex-direction: column;
        margin-left: 550px;
        margin-top: -20px;
    }

    .nav-btn {
        margin-top: -600px;
    }

    .web-title {
        display: flex;
        flex-direction: column;
        margin-left: 0px;
    }

    .web-description {
        display: flex;
        margin-left: 0px;
    }

    .wrapper {
        margin-left: 0px;

    }

    .time {
        text-align: right;
        margin-left: -300px;
        margin-top: -110px;
        font-size: xx-large;
    }
} 